body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

 

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}
.bi-lightning-charge::before{
  margin-right: 1rem;
  font-size: 1.9rem;
}


/* SIDEBAR */
.sidebar{
  width: 280px;
  transition: 0.3s;
}

.small-sidebar{
  width: 77px;
}

.small-sidebar .sidebar-text{
  display: none;
}


/* Logo */
.bi-lightning-charge{
  rotate: 30deg;
  transition: 1s;
  margin-top: 1.1rem;
}

.small-sidebar .bi-lightning-charge{
 
  margin-top: 2.5rem;
}


.small-sidebar .bi-x-circle::before {
  content: "\F134";
  transition: 1s;
}


.small-sidebar .bi-lightning-charge::before {
  content: "\F46C";
  transform: rotateY(360deg);
  transition: 1s;
  margin-left: 0.55rem;
}



.bi-x-circle{
  font-size: 1.4rem;
  transition: 0.25s;
  color: #adb5bd;
}


.bi-x-circle:hover{
  font-size: 1.5rem;
 
  color: #fff;
}


.dropdown {position: relative;}
.dropdownn{
  position: absolute;
  bottom: 100%;
  list-style: none;
  width:50%;
  padding: 0;
  background-color:#2b3035 ;
  
}
.dropdownn li{
text-align: center;
padding: 5px;
}
.dropdownn li:hover{
  background-color: #0d6efd;
}
.dropdown-dividerr{
  margin: 0;
}